extends layout

block content
	//- ul#items
	//- 	each item in items
	//- 		li(data-id=id)
	//- 			article
	//- 				header
	//- 					figure
	//- 						img(src=item.img_src alt="menu-item")
	//- 					h2.name= item.name
	//- 				p.price $#{item.price}
	//- 				footer
	//- 					a.add_cart(href="#") Add to cart

